<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lesen</title>
    <link rel="stylesheet"
          type="text/css"
          th:href="${resources} + '/css/reading_exercise_template.css'"/>
    <link rel="stylesheet"
          type="text/css"
          th:href="${resources} + '/css/common.css'"/>
</head>
<body>
<div class="outer-container">
    <div class="container">
        <div class="header">
            <div class="logo">
                <img th:src="${resources} + '/img/logo.png'"/>
            </div>
        </div>

        <section th:if="${readingExercise.title} != null"
                 class="title">
            <div class="level" th:text="${readingExercise.level}"></div>
            <span th:text="${readingExercise.title}"></span>
        </section>

        <div class="text-container">
            <section th:each="paragraph : ${readingExercise.paragraphs}">
                <p th:text="${paragraph}" class="paragraph"></p>
            </section>
        </div>

        <div class="questions-container">
            <div class="questions-title">Fragen:</div>
            <ul class="questions">
                <li th:each="question, stat : ${readingExercise.questions}">
                    <span th:text="${stat.count} + '. '" class="question-number"></span>
                    <span th:text="${question}"></span>
                </li>
            </ul>
            <div class="questions-separator">
                <div></div>
            </div>
        </div>


        <footer class="metadata">
            <div class="follow_me">
                <span>Bleib am Ball – abonniere <span class="channel">@daily_deutsch_group</span> auf Telegram!</span>
            </div>
        </footer>
    </div>
</div>
</body>
</html>