<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Schreiben</title>
    <link rel="stylesheet"
          type="text/css"
          th:href="${resources} + '/css/writing_exercise_template.css'"/>
    <link rel="stylesheet"
          type="text/css"
          th:href="${resources} + '/css/common.css'"/>
</head>
<body>
<div class="outer-container">
    <div class="container">
        <div class="header">
            <div class="logo">
                <img th:src="${resources} + '/img/logo.png'"/>
            </div>
        </div>

        <section class="title">
            <div th:if="${writingExercise.level} != null" class="level" th:text="${writingExercise.level}"></div>
            <span>Schreiben</span>
        </section>

        <div class="text-container">
            <div class="writing-topic"
                 th:if="${writingExercise.topic != null && !writingExercise.topic.isEmpty()}"
                 th:text="${writingExercise.topic}"></div>
            <section th:each="paragraph : ${writingExercise.writing}">
                <p th:text="${paragraph}" class="paragraph"></p>
            </section>
        </div>

        <footer class="metadata">
            <div class="follow_me">
                <span class="left-border">Bleib am Ball – abonniere <span class="channel">@daily_deutsch_group</span> auf Telegram!</span>
            </div>
        </footer>
    </div>
</div>
</body>
</html>